body {
    display: flex;
    justify-content: center;
    /* centra horizontalmente */
    align-items: center;
    /* centra verticalmente */
    height: 100vh;
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    /* para que los hijos se apilen */
    align-items: center;
    /* centra horizontalmente los hijos */
}

#inputContraseña {
    margin: 5%;
    width: 30vh;
    height: 5vh;
    border-radius: 15px;
}

#botonGenerar {
    color: black;
    background-color: aqua;
    width: 200px;
    height: 50px;
    border-radius: 15px;
    font-size: larger;
    cursor: pointer;
}